*~
.buildpath
.project
.settings
web/conf/config_local.ini
web/conf/PCI.ini
web/interface/themes/EBSCO/
web/interface/themes/EBSCO_classic/
web/interface/themes/EBSCO_default/
web/interface/themes/mzk/EBSCO/
web/interface/plugins/modifier.getEBSCOFormatClass.php
web/services/EBSCO/
web/sys/EBSCOAPI.php
web/sys/EBSCOConnector.php
web/sys/EBSCOResponse.php
web/sys/SearchObject/EBSCO.php
web/services/Discover/EBSCO.php
web/sys/sanitizer.class.php
libraries.txt
browse.sql
create_record_status.sql
tab15.cze.iso-8859-2
tab40.cze.iso-8859-2
tab_sub_library.cze.iso-8859-2
util/index-alphabetic-browse.sh
util/index-alphabetic-browse.sh.old
util/utils/

